.nyc_output/**/*
.idea/**/*
.vscode/**/*
typings/**/*
src/**/*
out/**/*.map
out/test/**/*
coverage/**/*
images/animations/**/*
images/screencaptures/**/*
__*
__*/**/*
**/*.log
.gitignore
.editorconfig
.nvmrc
.nycrc
.codeclimate.yml
.travis.yml
jsconfig.json
package-lock.json
tag-release.sh
tsconfig.json
tslint.json
yarn.lock
