.nyc_output/**/*
.idea/**/*
.vscode/**/*
typings/**/*
test/**/*
coverage/**/*
images/animations/**/*
images/screencaptures/**/*
__*
__*/**/*
**/*.log
.gitignore
.editorconfig
.eslintrc.yaml
.eslintignore
.nvmrc
.nycrc
.codeclimate.yml
.travis.yml
jsconfig.json
package-lock.json
tag-release.sh
yarn.lock
