.vscode/**
typings/**
test/**
coverage/**
images/animations/**
images/screencaptures/**
__*
.gitignore
.editorconfig
.eslintrc.yaml
.eslintignore
.nvmrc
.codeclimate.yml
.travis.yml
jsconfig.json
package-lock.json
vsc-extension-quickstart.md
